In [3]:
import pandas as pd
import numpy as np

In [9]:
questions = pd.read_csv('questions.csv', engine = 'python', encoding='utf-8')
answers = pd.read_csv('answers.csv', engine = 'python', encoding='utf-8')

In [43]:
subset_columns = ['questions_title','questions_body','answers_body']

In [51]:
matched_q_a = pd.concat([questions.set_index('questions_id'),answers.set_index('answers_question_id')], axis=1, join='inner')

In [53]:
answers.shape
matched_q_a.shape

(51123, 8)

In [62]:
matched_q_a.head(5)

                                               questions_author_id  ...                                       answers_body
332a511f1569444485cf7a7a556a5e54  8f6f374ffd834d258ab69d376dd998f5  ...  <p>Hi!</p>\n<p>You are asking a very interesti...
eb80205482e4424cad8f16bc25aa2d9c  acccbda28edd4362ab03fb8b6fd2d67b  ...  <p>Hi. I joined the Army after I attended coll...
eb80205482e4424cad8f16bc25aa2d9c  acccbda28edd4362ab03fb8b6fd2d67b  ...  <p>Dear Priyanka,</p><p>Greetings! I have answ...
4ec31632938a40b98909416bdd0decff  f2c179a563024ccc927399ce529094b5  ...  <p>I work for a global company who values high...
2f6a9a99d9b24e5baa50d40d0ba50a75  2c30ffba444e40eabb4583b55233a5a4  ...  I agree with Denise. Every single job I've had...

[5 rows x 8 columns]

In [56]:
matched_q_a[matched_q_a.answers_body.isnull()]

                                               questions_author_id  ... answers_body
6583e411a80149ae90b0cd08fe0c200f  1dfbdacaa36141248ceedf254a35e69e  ...          NaN

[1 rows x 8 columns]

In [59]:
professionals = pd.read_csv('professionals.csv')
tag_questions = pd.read_csv('tag_questions.csv')

In [63]:
professionals.head(5)

                   professionals_id  ...     professionals_date_joined
0  9ced4ce7519049c0944147afb75a8ce3  ...  2011-10-05 20:35:19 UTC+0000
1  f718dcf6d2ec4cb0a52a9db59d7f9e67  ...  2011-10-05 20:49:21 UTC+0000
2  0c673e046d824ec0ad0ebe012a0673e4  ...  2011-10-18 17:31:26 UTC+0000
3  977428d851b24183b223be0eb8619a8c  ...  2011-11-09 20:39:29 UTC+0000
4  e2d57e5041a44f489288397c9904c2b2  ...  2011-12-10 22:14:44 UTC+0000

[5 rows x 5 columns]

In [68]:
matched_q_a.head(5)

                                               questions_author_id  ...                                       answers_body
332a511f1569444485cf7a7a556a5e54  8f6f374ffd834d258ab69d376dd998f5  ...  <p>Hi!</p>\n<p>You are asking a very interesti...
eb80205482e4424cad8f16bc25aa2d9c  acccbda28edd4362ab03fb8b6fd2d67b  ...  <p>Hi. I joined the Army after I attended coll...
eb80205482e4424cad8f16bc25aa2d9c  acccbda28edd4362ab03fb8b6fd2d67b  ...  <p>Dear Priyanka,</p><p>Greetings! I have answ...
4ec31632938a40b98909416bdd0decff  f2c179a563024ccc927399ce529094b5  ...  <p>I work for a global company who values high...
2f6a9a99d9b24e5baa50d40d0ba50a75  2c30ffba444e40eabb4583b55233a5a4  ...  I agree with Denise. Every single job I've had...

[5 rows x 8 columns]

In [69]:
matched_q_a[matched_q_a.answers_author_id == '9ced4ce7519049c0944147afb75a8ce3']

                                               questions_author_id  ...                                       answers_body
f6b9ca94aed04ba28256492708e74f60  05444a2f42454327b2ac4b463c0adbe0  ...  <p>Basically three things: </p>\n<ol>\n<li>Big...

[1 rows x 8 columns]

In [77]:
matched2 = pd.concat((matched_q_a.set_index('answers_author_id'),professionals.set_index('professionals_id')), axis = 1)

ValueError: ignored

In [78]:
matched_q_a.set_index('answers_author_id').index.is_unique

False

In [80]:
professionals

                       professionals_id  ...     professionals_date_joined
0      9ced4ce7519049c0944147afb75a8ce3  ...  2011-10-05 20:35:19 UTC+0000
1      f718dcf6d2ec4cb0a52a9db59d7f9e67  ...  2011-10-05 20:49:21 UTC+0000
2      0c673e046d824ec0ad0ebe012a0673e4  ...  2011-10-18 17:31:26 UTC+0000
3      977428d851b24183b223be0eb8619a8c  ...  2011-11-09 20:39:29 UTC+0000
4      e2d57e5041a44f489288397c9904c2b2  ...  2011-12-10 22:14:44 UTC+0000
...                                 ...  ...                           ...
28147  9f267950ab8e43e2afcf564327049297  ...  2019-01-31 23:48:32 UTC+0000
28148  4a7e1e5dd884488da283e1cab6ad11e0  ...  2019-01-31 23:53:53 UTC+0000
28149  ea75c5fce38348e0a151c3c346929e6a  ...  2019-01-31 23:56:16 UTC+0000
28150  34f6222c3c02480ca2df8a3e4ba878d0  ...  2019-01-31 23:58:31 UTC+0000
28151  ebc523719253485bb35e94ca561eb051  ...  2019-01-31 23:59:09 UTC+0000

[28152 rows x 5 columns]

In [98]:
emails = pd.read_csv('emails.csv')

In [83]:
emails

         emails_id  ...    emails_frequency_level
0          2337714  ...  email_notification_daily
1          2336077  ...  email_notification_daily
2          2314660  ...  email_notification_daily
3          2312639  ...  email_notification_daily
4          2299700  ...  email_notification_daily
...            ...  ...                       ...
1850096    2409293  ...  email_notification_daily
1850097    2409400  ...  email_notification_daily
1850098    2409811  ...  email_notification_daily
1850099    2409736  ...  email_notification_daily
1850100    2409773  ...  email_notification_daily

[1850101 rows x 4 columns]

In [84]:
matches = pd.read_csv('matches.csv')

In [85]:
matches

         matches_email_id               matches_question_id
0                 1721939  332a511f1569444485cf7a7a556a5e54
1                 1665388  332a511f1569444485cf7a7a556a5e54
2                 1636634  332a511f1569444485cf7a7a556a5e54
3                 1635498  332a511f1569444485cf7a7a556a5e54
4                 1620298  332a511f1569444485cf7a7a556a5e54
...                   ...                               ...
4316270            184809  1b1ebe9afc5046ccbb328704e88e5cc0
4316271            184814  1b1ebe9afc5046ccbb328704e88e5cc0
4316272            184815  1b1ebe9afc5046ccbb328704e88e5cc0
4316273            184818  1b1ebe9afc5046ccbb328704e88e5cc0
4316274            184837  1b1ebe9afc5046ccbb328704e88e5cc0

[4316275 rows x 2 columns]

In [90]:
groups = pd.read_csv('groups.csv')
group_memberships = pd.read_csv('group_memberships.csv')

In [91]:
group_memberships

            group_memberships_group_id         group_memberships_user_id
0     eabbdf4029734c848a9da20779637d03  9a5aead62c344207b2624dba90985dc5
1     eabbdf4029734c848a9da20779637d03  ea7122da1c7b4244a2184a4f9f944053
2     eabbdf4029734c848a9da20779637d03  cba603f34acb4a40b3ccb53fe6681b5d
3     eabbdf4029734c848a9da20779637d03  fa9a126e63714641ae0145557a390cab
4     eabbdf4029734c848a9da20779637d03  299da113c5d1420ab525106c242c9429
...                                ...                               ...
1033  66574765baa94b79a7e76b13f36a0d4a  0e98d45e17b249cb9a4614dd644f4813
1034  66574765baa94b79a7e76b13f36a0d4a  1281a56ed75b454faaa11962a0beca3a
1035  66574765baa94b79a7e76b13f36a0d4a  a303c1c4faef4adda38fcd4c0d2bade1
1036  66574765baa94b79a7e76b13f36a0d4a  f25658bc5e374a1a8ea099156fc1206a
1037  66574765baa94b79a7e76b13f36a0d4a  5c5ffaf87ed249d9a630c010d80feb3f

[1038 rows x 2 columns]

In [95]:
pd.concat((professionals.set_index('professionals_id'),group_memberships.set_index('group_memberships_user_id')), axis=1, join='inner')

ValueError: ignored

In [96]:
professionals.set_index('professionals_id').index.is_unique

True

In [97]:
group_memberships.set_index('group_memberships_user_id').index.is_unique

False